<!-- 상단 소개글, 히어로 이미지 -->
<div class="top">
  <h1 class="top-heading">거래처</h1>
  <p class="top-body">거래처 수정 내역 관리</p>
</div>

<img src="/img/top-hero.jpg" alt="노트에 기록하는 모습" class="hero-image" width="840" height="400">

<!-- 최근 할일 -->
<section class="articles">
  <h2 class="articles-hading">최근 할일</h2>
  <ul class="article-ul">
    <% data.forEach(element => { %>
      <li>
        <a href="/clienttodopage/<%= element._id %>">
          <span><%= element.title %> </span>
          <span class="article-list-date"><%= element.createdAt.toDateString() %></span>
        </a>
      </li>
    <% }) %>
  </ul>
</section>